<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 pl-2 h1">Pokemon App</span>
</nav>

<div class="container-fluid">
  <% @pokemons.each do |pokemon| %>
    <div class="row d-flex justify-content-md-center mb-5">
      <div class="col-md-2">
       <div class="card">
        <img class="card-img-top" src=<%= pokemon.image %> alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= pokemon.name.capitalize()%></h5>
          <p class="card-text">Base exprecience: <%= pokemon.base_experience%></p>
          <p class="card-text">Height: <%= pokemon.height%></p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
       </div>
      </div>
    </div>
  <% end %>
</div>

